*.gise
*.xise
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.log
*.debug
*.tcl
*.xmsgs
*.cmd
*.xsl
*.cfi
*.mcs
*.prm
*.sig
*.exe
*.wdb
.*.swp

_ngo/
_xmsgs/
xlnx_auto_0_xdb/
xst/
iseconfig/
impact_project_xdb/
isim/
planAhead_run_*/
